body, html {
    height: 100%;
    overflow-x: hidden;
}

.jumbotron {
    background-color: #989ea3;
}

.parallax-1, .parallax-2, .parallax-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .65;
}

.parallax-1 {
    background-image: url(../images/tortoise-1.jpg);
    height: 60%;
}

.parallax-2 {
    background-image: url(../images/coding.jpg);
    height: 30%;
}

.parallax-3 {
    background-image: url(../images/contact.jpg);
    height: 30%;
}

h1, h4 {
    font-family: "Ruda", sans-serif;
}

p, li, h3 {
    font-family: "Roboto Slab", serif;
}

.jumbotron {
    margin-bottom: 0;
}

.about-me-list-left {
    list-style-type: none;
    text-align: left;
}

.about-me-list {
    list-style-type: none;
    text-align: left;
}

#profile {
    height: 800px;
    width: 600px;
}

img {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.425)
}

.skills-list {
    list-style-type: none;
    font-size: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-item {
    color: black;
}

li {
    margin: 5px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

footer {
    background-color: #989ea3;
    text-align: center;
}

.fa:hover {
    color: red;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}
.size-fix {
    width: 800px;
    height: 500px;
}

a h5 {
    color: #fff;
}

@media only screen and (max-width: 900px) {
    .parallax-1, .parallax-2, .parallax-3 {
        background-attachment: scroll;
    }
}