body {
    --nav-height: 80px;
    --fs-sm: 20px;
    --fs-md: 24px;
    --fs-lg: 30px;
    --fs-heading: 32px;
    padding-top: var(--nav-height);
    height: 100%;
    /* overflow-x: hidden; */
    color: #77af8d;
    background-color: #1A2715;
    padding: 20px 30px;
}

#about {
    scroll-behavior: smooth;
}

.logo {
    height: 50px;
    width: 50px;
    border: none;
}

.logo:hover {
    filter: brightness(150%);
}

.navbar {
    width: 100%;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    background: #1A271585;
    font-family: "Roboto Slab";
    transition: transform 0.2s;
    z-index: 1;
    box-shadow: 0 10px 30px -10px #142019b3;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
}

.close {
    font-size: 3rem;
    color: #fff;
}

.nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
}

.hide {
    display: none;
}

.disappear {
    animation: .25s disappear;
}

@keyframes disappear {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.nav-item {
    color: #86aa86;
    transition: .5s ease;
}

.nav-item:hover {
    color: #fff;
}

.nav-menu-modal {
  background-color: #1A2715;  
}

.resume-link-container {
    border: 1px solid;
    border-radius: 10px;
    margin-right: 1rem;
}

.resume-link {
    color: #cde9cd;
}

.resume-link:hover {
    color: #77af8d;
}

#title-animate-1 {
    animation: slide-down 2s ease-out;
}

@keyframes slide-down {
    0% { opacity: 0; transform: translateY(100%); }
    100% { opacity: 1; transform: translateY(0); }
}

#title-animate-2 {
    animation-name: side-slide;
    animation-duration: 3s;
}

@keyframes side-slide {
    0% { opacity: 0; transform: translateX(-100%); }
}

.title-hello {
    color: #59a377;
    font-size: clamp(var(--fs-sm),5vw,var(--fs-md));
}

.title-name {
    color: #a0ebbe;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 900;
}

.subtitle {
    font-size: clamp(30px, 8vw, 60px);
    color: #77af8d;
}

.title-desc {
    max-width: 497px;
}

.jumbotron {
    background-color: #1A2715;
}

.section-title {
    font-family: "Ruda", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,var(--fs-heading));
    white-space: nowrap;
}

.section-title::after {
    content: "";
    display: block;
    position: relative;
    top: 5px;
    width: 300px;
    height: 3px;
    margin-left: 20px;
    background-color: #cde9cd;
}

h1, h4 {
    font-family: "Ruda", sans-serif;
}

p, li, h3 {
    font-family: "Roboto Slab", serif;
}

.jumbotron {
    margin-bottom: 0;
}

.about-section {
    margin-top: 5rem;
}

.education-desc, .about-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab-pane.active {
    animation: slide-in 1s ease-out;
}

@keyframes slide-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.technology-container {
    padding-left: 15px;
    position: relative;
}

.technology-title {
    font-family: "Roboto Slab", serif;
    display: flex;
    align-items: center;
    position: relative;
    color: #59a377;
    font-size: clamp(var(--fs-sm),5vw,var(--fs-md));
    width: 100%;
}

.job-duties {
    padding: .5vw;
}

.img-border {
    border-radius: 5px;
    border: 2px solid #a0ebbe;
    padding: 10px;
}

.img-gray {
    filter: grayscale(80%);
}

.img-gray:hover {
    transition: .5s ease;
    filter: grayscale(0);
    transform: scale(1.05);
}

.fa:hover {
    transition: .5s ease;
    transform: translateY(-3px);
}

.project-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 100px;
}

.project-title {
    color: #59a377;
    font-size: clamp(var(--fs-md),5vw,var(--fs-lg));
    font-weight: 700;
}

.project-technology-list {
    padding: 0%;
}

.project-technology-list li {
    display: block;
    float: left;
    font-size: clamp(var(--fs-sm),5vw,var(--fs-md));
    margin: 10px;
    margin-left: 0;
}

.nav-link-active {
    background-color: #f2f2f2;
    color: black!important;
}

li {
    margin: 5px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

footer {
    background-color: #1A2715;
    text-align: center;
}

.fa:hover {
    color: #77af8d;
}

h4 {
    color: #fff;
}

a h5 {
    color: #fff;
}

.fa {
    color: #86aa86;
}

.modal-dialog {
    max-width: none;
}

.show {
    display: flex!important;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn-success {
    background-color: #64c78b;
    color: #141815;
    font-size: clamp(var(--fs-sm),5vw,var(--fs-md));
    font-family: "Roboto Slab";
}

.external-link-def {
    color: #59a377;
    margin-right: 10px;
}

.external-link-def:hover {
  color: #fff;  
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #77af8d;
    border: 3px solid #1A2715;
    border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
    .technology-container {
        bottom: 200px;
    }
}

@media only screen and (max-width: 992px) {
    .about-desc {
        margin-top: 25px;
    }
    .technology-container {
        bottom: 0;
    }
    .technology-list li {
        text-align: left;
    }
    .technology-list {
        margin-bottom: 0;
    }

    .project-image {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .project-flex-order div:first-child {
        order: 1;
    }
}

@media only screen and (max-width: 615px) {
    .resume-link {
        font-size: 12px;
        padding: .5rem .5rem;
    }
}

@media only screen and (max-width: 576px) {
    #title {
       margin-top: 40px;
    }
}

@media only screen and (max-width: 300px) {
    .logo {
       height: 40px;
       width: 40px;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .navbar-toggler {
        font-size: 1rem;
    }

    .resume-link-container {
        margin-right: 0;
    }

    .resume-link {
        font-size: 10px;
        padding: .4rem .4rem;
    }
}